@import "../../../../../../scss/base/variables";

:host {
  img {
    width: 100px;
    margin-bottom: 40px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    &,
    label,
    input {
      width: 100%;
    }

    label {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 30px;
      padding: 5px;
      border: 2px solid $branco;

      svg {
        width: 30px;
        padding-left: 8px;
      }

      input {
        height: 50px;
        border: none;
        font-size: 18px;
        padding-left: 8px;
        background: none;
        color: $branco;
        &::placeholder {
          color: $branco;
        }
      }
    }
  }
}