.btn-laranja{
    width: 95%;
    height: 60px;
    margin: 25px 0 0;
    border-radius: 10px;
    border: 2px solid $laranja;
    background: $laranja;
    color: $branco;
    font-size: 18px;
    cursor: pointer;

    transition: 0.5s;

    &:disabled {
        cursor: no-drop;
        background: darken($laranja, 20%);
        border: 2px solid darken($laranja, 20%);
        color: $laranja, 20%;

        &:hover{
            color: darken($laranja, 20%);
        }
    }

    &:hover{
        background: none; 
        color: $laranja;  
        transform: scale(1.03);
    }
}